name: PHP Unit Tests

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Validate composer.json
        run: composer validate

      - name: Setup PHP
        uses: shivammathur/setup-php@v4
        with:
          php-version: '8.4'
          tools: composer

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Run tests
        run: vendor/bin/phpunit --colors=always
